@import 'normalize.css';
@import './styles/styles.scss';

.app {
    width: 100%;
    background-image: linear-gradient(to right, #C9FFB6, #00D5F2);
}



// Playlist section
.playlist-section {
    min-height: 356px;
    background-image: linear-gradient(160deg, #121212, #10181D, #25001F);

    span {
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
        display: block;
        margin: 32px 0 0 70px;
    }
}